*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245 208 78);
    height: 100vh;
    width: 100vw;
}
.card{
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    height: 480px;
    width: 320px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 8px ;
}
.card:hover{
    box-shadow: 8px 12px;
}
.card img{
    height: 40%;
    border-radius: 15px;
    margin: 12px;
}
.card h4{
    background-color: rgb(245 208 78);
    width: 92px;
    padding: 4px;
    text-align: center;
    margin: 15px;
    border-radius: 7px;
}
.card p,h2{
    margin: 8px 12px;
}

.profile{
    display: flex;
    align-items: center;
}